<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{{url_for( 'static',filename='scss/shein2egypt.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for( 'static',filename='scss/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for( 'static',filename='scss/stylePl.css') }}"/>

    <script type = "text/javascript" src="{{url_for( 'static',filename='js/audioPlayer.js') }}"></script>
    <script type = "text/javascript" src="{{url_for( 'static',filename='js/app.js') }}"></script>
    <script type = "text/javascript" src="{{url_for( 'static',filename='js/Vid.js') }}"></script>
    <script type = "text/javascript" src="{{url_for( 'static',filename='js/Script.js') }}"></script>




    {% block head%}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

</body>
</html>